body {
   background-image: url("./images/space-background.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
}

.game-title {
   color: white;
   font-size: 70px;
   text-align: center;
   font-family: "Righteous";
}

#spacebreakout-ui {
   background: black;
   display: block;
   margin: auto;
   margin-top: 25px;
   box-shadow: 0px 0px 100px 20px purple;
}
